apiVersion: apps/v1
kind: Deployment
metadata:
  name: helm-deploy
  labels:
    app: devops
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: devops
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: devops
    spec:
      imagePullSecrets:
        - name: helm
      containers:
        - name: my-nodeapp
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: Always
          ports:
            - containerPort: {{ .Values.containerPort }}
